<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="shortcut icon" href="https://64.media.tumblr.com/49e3de93ccf99fc71309029bc9c93f98/tumblr_inline_mkhuqjSE7Y1qz4rgp.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>avocado by suunflowerx</title>
</head>
<body>
<div class="main">
    <div class="left-side">
        <div class="photo-bar">
            <ul class="navi-bar">
                <li class="navi-bar_item">
                    <a class="item_link" href="">update</a>
                </li>
                <li class="navi-bar_item">
                    <a class="item_link" href="">gallery</a>
                </li>
                <li class="navi-bar_item">
                    <a class="item_link" href="">archive</a>
                </li>
                <li class="navi-bar_item">
                    <a class="item_link" href="">date</a>
                </li>
            </ul>
            <img src="../images/Capa%204.png" class="photo-bar_photo" alt="This is your large photo">
        </div>
    </div>
    <div class="right-side">
        <div class="text-form">
            <h1 class="text-form_title">Update --</h1>
            <p class="text-form_text">Southern trees bear a strange fruit
                <br>
                Blood on the leaves and blood at the root
                Black bodies swinging in the southern breeze
                Strange fruit hanging from the poplar trees
                Pastoral scene of the gallant South
                <br>
                The bulging eyes and the twisted mouth
                Scent of magnolia, sweet and fresh
                <br>
                Then the sudden smell of burning flesh
                <br>
                Here is a fruit for the crows to pluck
                <br>
                For the rain to gather, for the wind to suck
                For the sun to rot, for the tree to drop
                <br>
                Here is a strange and bitter crop</p>

            <div class="circles-form">
                <div class="circles-form_round"></div>
                <img src="../images/Layer%201.png" class="circles-form_photo" alt="This is your small photo">
            </div>
        </div>
    </div>
<!--
    <div class="rectangle-form">
        <div class="rectangle-colour transition">
            <p class="rectangle-colour_text colour_grey">#d6dada</p>
        </div>
        <div class="rectangle-colour transition">
            <p class="rectangle-colour_text colour_green">#269595</p>
        </div>
    </div>


-->


</div>
<div class="credits">
    <a class="credit_link theme" href="https://vrnkdev.tumblr.com">thm</a>
    <a class="credit_link design" href="https://www.deviantart.com/suunflowerx">dsgn</a>
</div>
</body>
</html>