    @font-face {
        font-family: Markella;
        src: url(../fonts/muthiara/Markella.ttf);

        font-family: Helvetica;
        src: url(../fonts/helvetica/Helvetica.otf);
    }
.main{
    margin: 180px 0 0 100px;
}
 .photo-bar, .text-form, .rectangle-form{
        display: inline-block;
 }
 .rectangle-form{
     position: relative;
     width: 8%;
     z-index: 1;
 }
 .rectangle-colour{
     position: relative;
     top: -23px;
     left:60px;
 }
 .rectangle-colour:hover{
     left: 10px;
     transition: left 2s;
 }
 .transition, .item_link{
     transition: .6s ease-in-out;
 }
.colour_grey{
    background-color: #d6dada;
}
.colour_green{
    background-color: #269595;
}
.rectangle-colour_text{
    left: 9px;
    padding: 6px 8px;
    margin: 0 0 4px 0 ;
    font-size: 11px;
    color: #ffffff;
    font-family: Helvetica, serif;
}

.photo-bar{
    width: 300px;
    background: white;
    padding-top: 9px;
    position: relative;
    filter: drop-shadow(0px 40px 12px rgba(0,0,0,0.12));
    border: 19.4px solid #ffffff;
    z-index: 2;
}
.navi-bar{
    position: absolute;
    list-style: none;
    font-family: Helvetica, serif;
    font-size: 12px;
    line-height: 28px;
    top: 3px;
    right: -20px;
}
.navi-bar_item{
    display: inline-block;
    margin: 0 0 0 28px;
 }
.navi-bar:first-child{
    left: -52px;
}
.item_link{
    text-decoration: none;
    color: #000000;
    padding: 2px 5px;
}
.item_link:hover{
    background-color: #269595;
    color: white;
}
.photo-bar_photo{
    margin: 45px 0 0 0 ;
    width: 300px;
}
.text-form{
    position: absolute;
}
.text-form_title{
    position: relative;
    top: 5px;
    left: 38px;
    font-size: 61px;
    letter-spacing: -2px;
    color: #269595;
    font-family: Markella;
}
.text-form_text{
    width: 225px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 16px;
    margin: -25px 0 0 35px;
}
.circles-form{
    position: relative;
    display: block;
    margin: 16px 0 0 38px;
}
.circles-form_round{
    position: relative;
    width: 159px;
    height: 159px;
    border: 29px solid white;
    border-top-color: #269595;
    border-left-color: #269595;
    border-radius: 50%;
    transform: rotate(45deg);
}
.circles-form_photo{
    position:absolute;
    width: 140px;
    border-radius: 50%;
    z-index: 2;
    top: 36px;
    left: 38px;
}
