    @font-face {
        font-family: Markella;
        src: url(../fonts/muthiara/Markella.ttf);

        font-family: Helvetica;
        src: url(../fonts/helvetica/Helvetica.otf);
    }

.main{
    margin: 188px 0 0 100px;
}
.rectangle-colour{
    position: relative;
    margin-bottom: 12px;
    width: 108px;
    top:-96px;
    left: -50px;
    z-index: 1;
}

.colour_grey{
    background-color: #d6dada;
}
.colour_green{
    background-color: #269595;
}
.rectangle-colour_text{
    bottom: -12px;
    left: 9px;
    font-size: 10px;
    color: #ffffff;
    font-family: Helvetica, serif;
}
.photo-bar{
    width: 300px;
    background: white;
    padding-top: 10px;
    position: relative;
    filter: drop-shadow(0px 12px 12px rgba(0,0,0,0.12));
    border: 19.4px solid #ffffff;
    z-index: 2;
}
.navi-bar{
    position: absolute;
    list-style: none;
    font-family: Helvetica, serif;
    font-size: 12px;
    line-height: 28px;
    top: -42px;

}
.navi-bar_item{
    display: inline-block;
    margin: 0 0 0 35px;
 }
.navi-bar:first-child{
   left: -59px;
}
.item_link{
    text-decoration: none;
    color: #000000;
}
.photo-bar_photo{
    width: 300px;
}
