<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>avocado by suunflowerx</title>
</head>
<body>
<div class="main">

    <div class="rectangle-form">
        <div class="rectangle-colour">
            <p class="rectangle-colour_text colour_grey">#d6dada</p>
        </div>
        <div class="rectangle-colour">
            <p class="rectangle-colour_text colour_green">#269595</p>
        </div>
    </div>

<div class="photo-bar">
    <ul class="navi-bar">
        <li class="navi-bar_item">
            <a class="item_link" href="">update</a>
        </li>
        <li class="navi-bar_item">
            <a class="item_link" href="">gallery</a>
        </li>
        <li class="navi-bar_item">
            <a class="item_link" href="">archive</a>
        </li>
        <li class="navi-bar_item">
            <a class="item_link" href="">data</a>
        </li>
    </ul>
        <img src="../images/Capa%204.png" class="photo-bar_photo" alt="This is your large photo">
</div>

    <div class="text-form">
        <h1 class="text-form_title">Update --</h1>
        <p class="text-form_text">Southern trees bear a strange fruit
            <br>
            Blood on the leaves and blood at the root
            Black bodies swinging in the southern breeze
            Strange fruit hanging from the poplar trees
            Pastoral scene of the gallant South
            <br>
            The bulging eyes and the twisted mouth
            Scent of magnolia, sweet and fresh
            <br>
            Then the sudden smell of burning flesh
            <br>
            Here is a fruit for the crows to pluck
            <br>
            For the rain to gather, for the wind to suck
            For the sun to rot, for the tree to drop
            <br>
            Here is a strange and bitter crop</p>
    </div>
</div>
</body>
</html>