/* FONTS */

@font-face {
    font-family: Moon;
    src: url(../fonts/MoonTypeface-FREE-FONT/MoonBold.otf);
}

@font-face {
    font-family: RomanticChicago;
    src: url(../fonts/RomanticChicago/RomanticChicago.ttf);
}

@font-face {
    font-family: Dalgona;
    src: url(../fonts/dalgona/Dalgona.ttf);
}

/* MAIN BLOCK */
.main{
    display: flex;
    justify-content: center;

}

/* LEFT SIDE */
.left-side{
    width: 370px;
}

.left-side_title{
    font-family: Moon, serif;
    font-size: 11px;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 17px;
    color: #bf9f99;
    font-weight: 300;

    position: relative;
    margin-top: 75px;
    margin-left: 180px;
}
.left-side_title::before{
    content: url(../images/Capa7.png);
    position: absolute;
    z-index: 1;
    left: -43px;
}
.left-side_front-img, .left-side_back-img{
    position: absolute;
    border: 15px solid white;
    background: white;
}
.left-side_back-img{
    width: 207px;
    height: 411px;
    margin-left: 115px;
    margin-top: -10px;

}
.left-side_front-img{
    width: 147px;
    height: 239px;
    margin-left: 150px;
    margin-top: 295px;
}

/*RIGHT SIDE*/
.right-side{
    width: 430px;
}
.right-side_top-title{
    font-family: RomanticChicago, serif;
    font-size: 49px;
    letter-spacing: -1px;
    word-spacing: 5px;
    line-height: 16px;
    color: #bf9f99;

    position: relative;
    margin-top: 105px;
    margin-left: 68px;
}
.right-side_top-title::before{
    content: url(../images/Capa3.png);
    position: absolute;
    top: -5px;
    left: -60px;
}
.right-side_description{
    width: 260px;
    margin-left: 18px;
    font-family: Poppins, serif;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 14px;
}
.right-side_img{
    margin-left: 45px;
    margin-top: 8px;
    width: 216px;
    height: 236px;
}
.right-side_frame{
    position: relative;
}
.right-side_frame::before{
    content: url(../images/Rectangulo.png);
    position: absolute;
    left: 39px;
 }

.right-side_bottom-title{
    font-family: Dalgona, serif;
    font-size: 57px;
    letter-spacing: 11px;
    line-height: 45px;
    color: #757575;

    position: relative;
    width: 100px;
    margin-top: 58px;
    margin-left: 80px;
}
.right-side_bottom-title::before{
    content: url(../images/Rellenodecolor1.png);
    position: absolute;
    left: 12px;
    top: -55px;
}

/* CREDITS */
.credits{
    position: fixed;
    width: 20px;
    bottom: 8%;
    left: 96%;
}
.credit_link{
    font-size: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    position: absolute;
}
.theme{
    -webkit-text-stroke: 0.1px #757575;
    color: black;
}
.design{
    top: 8px;
    left: 3px;
    -webkit-text-stroke: 0.1px #757575;
    color: #a57a72;
}
.credit_link:hover{
    color: #757575;
}

